@import "tailwindcss";

@theme {
  --breakpoint-sm: 485px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --font-work-sans: "Work Sans", sans-serif;
}

body {
  @apply bg-gray-50 text-gray-800 font-work-sans;
}
.hero-bg {
  @apply bg-red-300 bg-[url("./assets/images/hero1.webp")] bg-blend-overlay bg-cover bg-center bg-no-repeat;
  animation: background-animation 80s ease-in-out infinite;
}
@keyframes background-animation {
  0%,
  100% {
    background: url("./assets/images/hero0.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00000048;
    background-blend-mode: overlay;
  }
  50% {
    background: url("./assets/images/hero1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00000048;
    background-blend-mode: overlay;
  }
}
button {
  @apply cursor-pointer;
}

/* primary: '#1E3A8A',
      secondary: '#3B82F6',
      accent: '#FBBF24', */
